/* fonts */
$OpenSans: "Open Sans",  sans-serif;
$Circe: "Circe",  sans-serif;
$ClearSans: "Clear Sans",  sans-serif;
$Roboto: "Roboto",  sans-serif;
$SFDisplay: "SF UI Display",  sans-serif;
$SFText: "SF UI Text",  sans-serif;


/* path to images */
$image_dir: '/static/images/';


/* colors */
$white: #fff;
$black: #000;
$error: red;
